<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/styles/main.css">
      <title>MY BLOG</title>
  </head>
  <body>

    <%- include("partials/header.ejs") %>
    
    <p id="welcome-line">Welcome to my mini blog where I write about anything and everything.</p>

      <!-- This is the break point-->
        
      <div class = "container">
        <h2 id="Posts-header">Posts</h2>

        <ul id="Posts-List">
          <% Posts.forEach((post) => { %>
            <li>
              <h2>
                <%= post.title %>
              </h2>
              <small>
                <%= post.date %>
              </small>
              <p>
                <%= post.content %>
              </p>
              <small> By: <%=post.author %> </small>
              <a id="blog-post" class="edit" href="/edit/<%= post.id%>">Edit</a>
              <a id="blog-post" class="delete" href="/delete/<%= post.id%>">Delete</a>
            </li>
            
          <%}); %>
        </ul>
      </div>




      <%- include("partials/footer.ejs") %>

  </body>
</html>