<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/styles/main.css">
      <title>MY BLOG</title>
  </head>
  <body>

    <%- include("partials/header.ejs") %>
    <p>Welcome to my mini blog where I write about anything and everything.</p>

      <!-- This is the break point-->
        <div id="post-id" class="post">
          <form action="/submit" method="post">
              <input type="text" name="Cpost" placeholder="Create Post">
              <input type="submit" value="Post">
          </form>
        </div>
      
      <hr>
      <div class = "container">
        <h2>Posts</h2>

        <ul>
          <% Posts.forEach((post, index) => { %>
            <li>
              <%= post %>
              <a id="blog-post" href="/edit?index=<%= index %>">Edit</a>
              <a id="blog-post" href="/delete?index=<%= index %>">Delete</a>
            </li>
            
          <%}); %>
        </ul>
      </div>

      <%- include("partials/footer.ejs") %>

  </body>
</html>